* {
    box-sizing: border-box ;
}

.container {
    border: 1px solid rgb(238, 105, 255);
    width: 70%;
    padding: 35px 10px;
    margin: 50px auto;
    text-align: center;
}

h1,
hr,
a {
    color: rgb(238, 105, 255);
}

p {
    height: 1px;
    background: rgb(238, 105, 255);
}

li {
    text-align: start;
}

img {
    width: 300px;
    height: 400px;
}